color-light = #fff
color-primary = red
color-secondary = green
color-dark = invert(color-light)

mixin-color(foo, bar)
  .u-{foo} { color: bar; }
  .u-bg-{foo} { background-color: bar; }
  .u-border-{foo} { border-color: bar; }

mixin-color('primary', color-primary);
mixin-color('secondary', color-secondary);
mixin-color('light', color-light);
mixin-color('dark', color-dark);
