.u-hide
  display none

.u-show
  display block

@media (min-width sm)
  .u-hide-sm
    display none

  .u-show-sm
    display block

@media (min-width md)
  .u-hide-md
    display none

  .u-show-md
    display block

@media (min-width lg)
  .u-hide-lg
    display none

  .u-show-lg
    display block
