margin(breakpoint, unit, space)
  .u-m{unit}{breakpoint}
    margin space

  .u-mt{unit}{breakpoint}
    margin-top space

  .u-mr{unit}{breakpoint}
    margin-right space

  .u-mb{unit}{breakpoint}
    margin-bottom space

  .u-ml{unit}{breakpoint}
    margin-left space

  .u-mx{unit}{breakpoint}
    margin-left space
    margin-right space

  .u-my{unit}{breakpoint}
    margin-top space
    margin-bottom space

  // .u-mxn{unit}
  //   margin-left -(@space)
  //   margin-right -(@space)

margins(breakpoint)
  for space, i in spaces
    margin(breakpoint, i, space);

margins('')

@media (min-width: sm) {
  margins('-sm')
}

@media (min-width: md) {
  margins('-md')
}

@media (min-width: lg) {
  margins('-lg')
}

.u-mx-auto
  margin-left auto
  margin-right auto

.u-ml-auto
  margin-left auto

.u-mr-auto
  margin-right auto
