padding(unit, space)
  .u-p{unit}
    padding space

  .u-pt{unit}
    padding-top space

  .u-pr{unit}
    padding-right space

  .u-pb{unit}
    padding-bottom space

  .u-pl{unit}
    padding-left space

  .u-px{unit}
    padding-left space
    padding-right space

  .u-py{unit}
    padding-top space
    padding-bottom space

paddings()
  for space, i in spaces
    padding(i, space);

paddings()
