extend ../../layouts/default

block view
  
  main(class='u-flex-auto')
    +row()
  
      h1 Align

      p Adjust vertical alignment with these utilities.
        p To adjust the alignment of an element, use <code>.u-align-baseline</code>, <code>.u-align-top</code>, <code>.u-align-middle</code> or <code>.u-align-bottom</code>. The vertical-align property only applies to inline or table-cell boxes.

        +example()
          +example-rendered()
            div(class='u-overflow-auto')
              div(class='u-table')
                div(class='u-table-cell')
                  h3 Hamburger
                div(class='u-table-cell u-align-baseline') .u-align-baseline
                div(class='u-table-cell u-align-top') .u-align-top
                div(class='u-table-cell u-align-middle') .u-align-middle
                div(class='u-table-cell u-align-bottom') .u-align-bottom

          +example-code()
            = '<div class="u-overflow-auto">'
            br
            = '  <div class="u-table">'
            br
            = '    <div class="u-table-cell">'
            br
            = '      <h1>Hamburger</h1>'
            br
            = '    </div>'
            br
            = '    <div class="u-table-cell u-align-baseline">.u-align-baseline</div>'
            br
            = '    <div class="u-table-cell u-align-top">.u-align-top</div>'
            br
            = '    <div class="u-table-cell u-align-middle">.u-align-middle</div>'
            br
            = '    <div class="u-table-cell u-align-bottom">.u-align-bottom</div>'
            br
            = '  </div>'
            br
            = '</div>'
