include ../../../data/index

include ../mixins/index

block locals

doctype html
html
  head
    meta(charset='utf-8')

    block title

      title=site.name

    meta(itemprop='name' content=view.name)
    meta(itemprop='url' content=view.url)

    block styles

      link(rel='stylesheet' href=`${paths.styles}/app.css`)

  body

    div(class='c-wrapper')
      block view

    block scripts
