include views/index

-
  paths = {
    styles: '/styles',
    scripts: '/scripts',
    images: '/images',
  };

  colors = [
    { name: 'dark' },
    { name: 'light' },
    { name: 'primary' },
    { name: 'secondary' },
  ];

  name = 'CodeKit 3 Starter',

  site = {
    name,
    description: 'CodeKit 3 Starter description',
  };
  
  spaces = [0, 1, 2, 3, 4];

  view = {
    name: 'Test',
    url: '/',
  };
