include views/index

-
  paths = {
    styles: '/assets/styles',
    scripts: '/assets/scripts',
    images: '/assets/images',
  };

  colors = [
    { name: 'dark' },
    { name: 'light' },
    { name: 'primary' },
    { name: 'secondary' },
  ];

  view = {
    name: 'Default title',
    url: '/',
    description: 'Description',
    image: {
      url: 'http://codekit-3-starter.surge.sh/logo.png',
      width: 1200,
      height: 628,
    },
  };

  site = {
    name: 'CodeKit 3 Starter',
    title: 'Title test',
    description: 'CodeKit 3 Starter description',
    url: 'http://codekit-3-starter.surge.sh', 
    image: {
      url: 'http://codekit-3-starter.surge.sh/logo.png',
      width: 1200,
      height: 628,
    },
    dir: 'ltr',
    lang: 'en',
  };
  
  spaces = [0, 1, 2, 3, 4];
