include views/index

-
  paths = {
    styles: '/styles',
    scripts: '/scripts',
    images: '/images',
  };

  colors = [
    { name: 'dark' },
    { name: 'light' },
    { name: 'primary' },
    { name: 'secondary' },
  ];

  //- name = 'CodeKit 3 Starter',

  site = {
    name: 'CodeKit 3 Starter',
    title: 'Title test',
    description: 'CodeKit 3 Starter description',
    image: {
      url: '',
      width: 1200,
      height: 620,
    },
  };
  
  spaces = [0, 1, 2, 3, 4];

  view = {
    name: 'Test',
    url: '/',
  };
